{{template "base" .}}


{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1> This is the homepage!</h1>
            <p>Welcome to the homepage</p>
            <p>Hello lucy this is the home page </br> nice to meet you</p>
            <p>Hello lucy this is the home page </br> you are super beautiful</p>
        </div>
    </div>
</div>
{{end}}