{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <h1>This is the home page</h1>

            <a href="http://localhost:8080/about">click here to go the the about page</a>
        </div>
    </div>
 {{end}}